@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@config "../../tailwind.config.js";

input,
select,
textarea {
  font-size: 16px;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25em;
  text-decoration-color: var(--color-zinc-700);

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    text-decoration-thickness: 2px;
  }
}

.dark {
  a {
    text-decoration-color: var(--color-zinc-300);
  }
}
