repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm format
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        pass_filenames: false
      - id: typescript-check
        name: typescript-check
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'docker run -v "$(pwd):/workdir" --rm us-docker.pkg.dev/thog-artifacts/public/scanner:latest git main HEAD /workdir'
        language: system
        stages: ["pre-commit", "pre-push"]
